<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>PapersViewer</display-name>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<context-param>
		<param-name>sessions</param-name>
		<param-value>/local resources/session save.txt</param-value>
	</context-param>


<!-- 	<context-param> -->
<!-- 		<param-name>JDBC_URL</param-name> -->
<!-- 		<param-value>jdbc:mysql://127.0.0.1:3306/paper_test?user=root&password=si17st18</param-value> -->
<!-- 	</context-param> -->




		<context-param>
		<param-name>project_context</param-name>
		<!-- <param-value>/expression_language_in_XML_project_context.xml</param-value> -->
		<param-value>/aspects_project_context.xml</param-value>
		<!-- <param-value>/project_context.xml</param-value> -->
		<!-- <param-value>/simple_project_context.xml</param-value> -->
	</context-param>
	<servlet>
		<servlet-name>404</servlet-name>
		<jsp-file>/resources/404.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>404</servlet-name>
		<url-pattern>/404.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OK</servlet-name>
		<jsp-file>/resources/ok.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>OK</servlet-name>
		<url-pattern>/ok.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaperJ</servlet-name>
		<jsp-file>/resources/Paper.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaperJ</servlet-name>
		<url-pattern>/Paper.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaperAllJ</servlet-name>
		<jsp-file>/resources/PaperAll.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaperAllJ</servlet-name>
		<url-pattern>/PaperAll.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Selected</servlet-name>
		<servlet-class>controllers.paper_controllers.SelectPaperController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Selected</servlet-name>
		<url-pattern>/select.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Papers</servlet-name>
		<servlet-class>controllers.paper_controllers.PaperAllController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Papers</servlet-name>
		<url-pattern>/getAll.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Paper</servlet-name>
		<servlet-class>controllers.paper_controllers.PaperController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Paper</servlet-name>
		<url-pattern>/get.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>file</servlet-name>
		<servlet-class>controllers.FileResponseController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>file</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>controllers.TableViewController</servlet-class>
		<init-param>
			<param-name>tableView</param-name>
			<param-value>/resources/TablePrint.html</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>
		<url-pattern>/view/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>picture</servlet-name>
		<servlet-class>controllers.PictureWiewController</servlet-class>
		<init-param>
			<param-name>picturePath</param-name>
			<param-value>/resources/1.jpg</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>picture</servlet-name>
		<url-pattern>/picture</url-pattern>
		<url-pattern>/picture/</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>WorkTimeFilter</filter-name>
		<filter-class>filters.WorkTimeAndSessionCreateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WorkTimeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CountCookieFilter</filter-name>
		<filter-class>filters.CountClickFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CountCookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listeners.SessionWriteFileAndChangeListener</listener-class>
	</listener>
</web-app>